

    <div class="page-title-area page-title-img-one">
    <div class="container">
    <div class="page-title-item">
    <h2>Food Collection</h2>
    <ul>
    <li>
    <a href="index.html">Home</a>
    </li>
    <li>
    <i class='bx bx-chevron-right'></i>
    </li>
    <li>Food Collection</li>
    </ul>
    </div>
    </div>
    </div>


    <section class="collection-area collection-area-two pt-100 pb-70">
    <div class="container">
    <div class="sorting-menu" >
    <ul >

        <li  class="item"  [class.active]="category.isActive" *ngFor="let category of categories"  (click)="selectItemsByCategory(category)">
          {{ category.name }}
        </li>

    </ul>
    </div>
    <div id="Container" class="row" >
    <div class="col-sm-6 col-lg-3 mix " *ngFor="let item of categoryItems">
        <app-item-card [item]="item"></app-item-card>
    </div>



    </div>
    </div>
    </section>


