

<div class="page-title-area page-title-img-three">
<div class="container">
<div class="page-title-item">
<h2>Contact Us</h2>
<ul>
<li>
<a href="index.html">Home</a>
</li>
<li>
<i class='bx bx-chevron-right'></i>
</li>
<li>Contact Us</li>
</ul>
</div>
</div>
</div>


<div class="contact-location-area pt-100 pb-70">
<div class="container">
<div class="row">
<div class="col-sm-6 col-lg-4">
<div class="location-item">
<img src="assets/img/home-one/service-shape.png" alt="Location">
<i class='bx bxs-time-five'></i>
<ul>
<li>9:00 AM to 12:00 AM</li>
<li>(Saturday to Thursday)</li>
</ul>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="location-item active">
<img src="assets/img/home-one/service-shape.png" alt="Location">
<i class='bx bxs-location-plus'></i>
<ul>
<li>Br1. 28/A Street, New York, USA</li>
<li>Br2. 31/B Street, Washington, USA</li>
</ul>
</div>
</div>
<div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
<div class="location-item">
<img src="assets/img/home-one/service-shape.png" alt="Location">
<i class='bx bxs-phone-call'></i>
<ul>
<li>
<a href="tel:+11234567890">(Branch 1) +1 123 456 7890</a>
</li>
<li>
<a href="tel:+23256594596">(Branch 2) +2 325 659 4596</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>


<div class="contact-form-area ptb-100">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="contact-item">
<form id="contactForm">
<div class="row">
<div class="col-sm-6 col-lg-12">
<div class="form-group">
<input type="text" name="name" id="name" class="form-control" required data-error="Please enter your name" placeholder="Name">
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-sm-6 col-lg-12">
<div class="form-group">
<input type="email" name="email" id="email" class="form-control" required data-error="Please enter your email" placeholder="Email">
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-sm-6 col-lg-12">
<div class="form-group">
<input type="text" name="phone_number" id="phone_number" required data-error="Please enter your number" class="form-control" placeholder="Phone">
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-sm-6 col-lg-12">
<div class="form-group">
<input type="text" name="msg_subject" id="msg_subject" class="form-control" required data-error="Please enter your subject" placeholder="Subject">
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-md-12 col-lg-12">
<div class="form-group">
<textarea name="message" class="form-control" id="message" cols="30" rows="6" required data-error="Write your message" placeholder="Message"></textarea>
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-lg-12 col-md-12">
<div class="form-group">
<div class="form-check agree-label">
<input name="gridCheck" value="I agree to the terms and privacy policy." class="form-check-input" type="checkbox" id="gridCheck" required>
<label class="form-check-label" for="gridCheck">
Accept <a href="terms-condition.html">Terms & Conditions</a> And <a href="privacy-policy.html">Privacy Policy.</a>
</label>
<div class="help-block with-errors gridCheck-error"></div>
</div>
</div>
</div>
<div class="col-md-12 col-lg-12">
<button type="submit" class="cmn-btn btn">
Send Message
</button>
<div id="msgSubmit" class="h3 text-center hidden"></div>
<div class="clearfix"></div>
</div>
</div>
</form>
<div class="contact-social">
<span>Follow Us on</span>
<ul>
<li>
<a href="#" target="_blank">
<i class='bx bxl-facebook'></i>
</a>
</li>
<li>
<a href="#" target="_blank">
<i class='bx bxl-twitter'></i>
</a>
</li>
<li>
<a href="#" target="_blank">
<i class='bx bxl-instagram'></i>
</a>
</li>
<li>
<a href="#" target="_blank">
<i class='bx bxl-youtube'></i>
</a>
</li>
</ul>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="contact-img">
<img src="assets/img/contact-man.png" alt="Contact">
</div>
</div>
</div>
</div>
</div>


<section class="download-area-two pt-100 pb-70">
<div class="download-shape">
<img src="assets/img/home-one/reservation-shape.png" alt="Download">
<img src="assets/img/about/download2.png" alt="Download">
</div>
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="download-item">
<h2>Download Our Mobile App That Make You More Easy to Order</h2>
<ul>
<li>
<a href="#">
<img src="assets/img/home-two/google-store.png" alt="Google">
</a>
</li>
<li>
<a href="#">
<img src="assets/img/about/app.png" alt="App">
</a>
</li>
</ul>
</div>
</div>
<div class="col-lg-6">
<div class="download-img">
<img src="assets/img/home-one/subscribe-main.png" alt="Download">
</div>
</div>
</div>
</div>
</section>


<section class="chef-area chef-area-two pb-70">
<div class="container">
<div class="section-title">
<h2>Our Special Chefs</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div class="row">
<div class="col-sm-6 col-lg-3">
<div class="chef-item">
 <div class="chef-top">
<img src="assets/img/home-one/chef/1.jpg" alt="Chef">
<div class="chef-inner">
<h3>John Doe</h3>
<span>Head of Chef</span>
</div>
</div>
<div class="chef-bottom">
<ul>
<li>
<a href="#">
<i class='bx bxl-facebook'></i>
</a>
</li>
<li>
<a href="#">
<i class='bx bxl-twitter'></i>
</a>
</li>
<li>
<a href="#">
<i class='bx bxl-instagram'></i>
</a>
</li>
</ul>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-3">
<div class="chef-item">
<div class="chef-top">
<img src="assets/img/home-one/chef/6.jpg" alt="Chef">
<div class="chef-inner">
<h3>John Smith</h3>
<span>Assistant Chef</span>
</div>
</div>
<div class="chef-bottom">
<ul>
<li>
<a href="#">
<i class='bx bxl-facebook'></i>
</a>
</li>
<li>
<a href="#">
<i class='bx bxl-twitter'></i>
</a>
</li>
<li>
<a href="#">
<i class='bx bxl-instagram'></i>
</a>
</li>
</ul>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-3">
<div class="chef-item active">
<div class="chef-top">
<img src="assets/img/home-one/chef/3.jpg" alt="Chef">
<div class="chef-inner">
<h3>Evanaa</h3>
<span>Intern Chef</span>
</div>
</div>
<div class="chef-bottom">
<ul>
<li>
<a href="#">
<i class='bx bxl-facebook'></i>
</a>
</li>
<li>
<a href="#">
<i class='bx bxl-twitter'></i>
</a>
</li>
<li>
 <a href="#">
<i class='bx bxl-instagram'></i>
</a>
</li>
</ul>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-3">
<div class="chef-item">
<div class="chef-top">
<img src="assets/img/home-one/chef/7.jpg" alt="Chef">
<div class="chef-inner">
<h3>Knot Doe</h3>
<span>Asst. Chef</span>
</div>
</div>
<div class="chef-bottom">
<ul>
<li>
<a href="#">
<i class='bx bxl-facebook'></i>
</a>
</li>
<li>
<a href="#">
<i class='bx bxl-twitter'></i>
</a>
</li>
<li>
<a href="#">
<i class='bx bxl-instagram'></i>
</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</section>

