.typedialog{
  color: black;

}
h2{
  margin-left: 1rem;
  margin-top: 1rem;
}




ul li{
  list-style: none;


}



@media screen and (max-width:1460px) {

}






@media screen and (max-width:460px) {
  .typedialog{
    color: black;
    background-color: white;
  }

}

